In [1]:
print("Hello")

Hello

In [2]:
name = input("Enter your name")
age = int(input("Enter age"))
print(name)
print(age)
print(type(name))
print(type(age))

Amandeep
21
<class 'str'>
<class 'int'>

In [ ]:
a = input("Enter a string:")
b = int(input("Enter a integer value:"))
c = float(input("Enter a float value:"))
d = bool(input("Enter a boolean value:")) # This will always return True(Wrong method), Python does not directly convert input to boolean like int() or float()
print(a)
print(b)
print(c)
print(d)

abc
1
1.0
True

In [7]:
bool('False') == True # Always returns True

True

In [ ]:
# Use this method(if you want to take input as bool)
value = input("Enter True or False").lower()


if value == "true":
    flag = True
    print(flag)
    print(type(flag))
elif value == "false":
    flag = False
    print(flag)
    print(type(flag))
else:
    print("Invalid Input")

True
<class 'bool'>

In [12]:
side = int(input("Enter side of the square:"))
area = side * side
print(f"Area of square:{area}")

Area of square:25

In [ ]:
# Type Conversion(Type Casting)
# (i) Implicit Type Conversion (automatic)
# (ii) Explicit Type Conversion (manual)

a = 10      # int
b = 2.5     # float

c = a + b
print(c)
print(type(c))

12.5
<class 'float'>

In [ ]:
# Int conversion
x = int(10.8)
print(x)   # 10

10

In [ ]:
# Float conversion
y = float(10)
print(y)   # 10.0

10.0

In [17]:
num = 100
print(type(num))

<class 'int'>

In [ ]:
# String conversion
num = 100
s = str(num)
print(s)
print(type(s))

100
<class 'str'>

In [20]:
print(ord('A'))
print(ord('a'))

65
97

In [24]:
sub1 = int(input("Enter marks for subject 1(out of 100):"))
sub2 = int(input("Enter marks for subject 2(out of 100):"))
sub3 = int(input("Enter marks for subject 3(out of 100):"))
total_marks = sub1 + sub2 + sub3
print(f"Total marks of student(out of 300):{total_marks}")
average_marks = total_marks / 3
print(f"Average marks of student:{average_marks}")

Total marks of student(out of 300):252
Average marks of student:84.0

In [26]:
sub1 = int(input("Enter marks for subject 1(out of 100):"))
sub2 = int(input("Enter marks for subject 2(out of 100):"))
sub3 = int(input("Enter marks for subject 3(out of 100):"))
sub4 = int(input("Enter marks for subject 3(out of 100):"))
sub5 = int(input("Enter marks for subject 3(out of 100):"))
total_marks = sub1 + sub2 + sub3
print(f"Total marks of student(out of 500):{total_marks:.2f}")
average_marks = total_marks / 3
print(f"Average marks of student:{average_marks:.2f}")

Total marks of student(out of 500):221.00
Average marks of student:73.67