In [1]:
print("Hello")

Hello

In [2]:
name = input("Enter your name")
age = int(input("Enter age"))
print(name)
print(age)
print(type(name))
print(type(age))

Amandeep
21
<class 'str'>
<class 'int'>

In [ ]:
a = input("Enter a string:")
b = int(input("Enter a integer value:"))
c = float(input("Enter a float value:"))
d = bool(input("Enter a boolean value:")) # This will always return True(Wrong method), Python does not directly convert input to boolean like int() or float()
print(a)
print(b)
print(c)
print(d)

abc
1
1.0
True

In [7]:
bool('False') == True # Always returns True

True

In [ ]:
# Use this method(if you want to take input as bool)
value = input("Enter True or False").lower()


if value == "true":
    flag = True
    print(flag)
    print(type(flag))
elif value == "false":
    flag = False
    print(flag)
    print(type(flag))
else:
    print("Invalid Input")

True
<class 'bool'>

In [12]:
side = int(input("Enter side of the square:"))
area = side * side
print(f"Area of square:{area}")

Area of square:25

In [ ]:
# Type Conversion(Type Casting)
# (i) Implicit Type Conversion (automatic)
# (ii) Explicit Type Conversion (manual)

a = 10      # int
b = 2.5     # float

c = a + b
print(c)
print(type(c))

12.5
<class 'float'>

In [ ]:
# Int conversion
x = int(10.8)
print(x)   # 10

10

In [ ]:
# Float conversion
y = float(10)
print(y)   # 10.0

10.0

In [17]:
num = 100
print(type(num))

<class 'int'>

In [ ]:
# String conversion
num = 100
s = str(num)
print(s)
print(type(s))

100
<class 'str'>

In [20]:
print(ord('A'))
print(ord('a'))

65
97

In [24]:
sub1 = int(input("Enter marks for subject 1(out of 100):"))
sub2 = int(input("Enter marks for subject 2(out of 100):"))
sub3 = int(input("Enter marks for subject 3(out of 100):"))
total_marks = sub1 + sub2 + sub3
print(f"Total marks of student(out of 300):{total_marks}")
average_marks = total_marks / 3
print(f"Average marks of student:{average_marks}")

Total marks of student(out of 300):252
Average marks of student:84.0

In [28]:
sub1 = int(input("Enter marks for subject 1(out of 100):"))
sub2 = int(input("Enter marks for subject 2(out of 100):"))
sub3 = int(input("Enter marks for subject 3(out of 100):"))
sub4 = int(input("Enter marks for subject 3(out of 100):"))
sub5 = int(input("Enter marks for subject 3(out of 100):"))
total_marks = sub1 + sub2 + sub3 + sub4 + sub5
print(f"Total marks of student(out of 500):{total_marks:.2f}")
average_marks = total_marks / 5
print(f"Average marks of student:{average_marks:.2f}")

Total marks of student(out of 500):369.00
Average marks of student:73.80

In [32]:
item_name = input("Enter item name:")
quantity = int(input("Enter quantity of the item:"))
price = int(input("Enter price for the item:"))

total_cost = quantity * price
gst = (0.18 * total_cost) + total_cost

print(f"Total cost of {item_name} is: {total_cost}")
print(f"Total cost of {item_name} including 18% of GST is: {gst:.2f}")

Total cost of Earphone is: 23255
Total cost of Earphone including 18% of GST is: 27440.90

In [ ]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))

print("Addition:", num1 + num2)
print("Multiplication:", num1 * num2)

if (num1 > num2):
    print("Subtraction:", num1 - num2)
    print("Division:", num1 / num2)
else:
    print("Subtraction:", num2 - num1)
    print("Division:", num2 / num1)

Addition: 25
Multiplication: 150
Subtraction: 5
Division: 1.5

In [ ]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
choice = int(input("Enter your choice:\n1-Addition\n2-Subtraction\n3-Division\n4-Multiplication"))
match choice:
    case 1:
        print("Addition for two number is:", num1 + num2)
    case 2:
        if(num1 >= num2):
            print("Subtration for two number is:", num1 - num2)
        else:
            print("Subtration for two number is:", num2 - num1)
    case 3:
        print("Division for two number is:", num1 / num2)
    case 4:
        print("Multiplication for two number is:", num1 * num2)
    case _:
        print("Invalid Choice")

Invalid Choice

In [39]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
num3 = int(input("Enter third number:"))

if (num1 >= num2 and num1 >= num3):
    print(f"{num1} is largest")
elif (num2 >= num3):
    print(f"{num2} is largest")
else:
    print(f"{num3} is largest")

10 is largest

In [40]:
principal = int(input("Enter Principal:"))
rate = float(input("Enter rate:"))
time = int(input("Enter time:"))
simple_interest = principal * rate * time / 100

print(f"Simple Interest:{simple_interest:.2f}")

Simple Interest:1080.00

In [2]:
original_pswrd = "aman"

while True:
    password = input("Enter password:")
    if (original_pswrd == password):
        print("Access Granted")
        break
    else:
        print("Try Again")

Try Again
Try Again
Access Granted

In [22]:
amount = int(input("Enter amount:"))

if (amount <= 0):
    print("Invalid Entry")
elif (amount >= 200 and amount % 100 == 0 and amount != 300):
    print("Discharging cash")
else:
    print("Try again")

Discharging cash

In [23]:
time = input("Enter time in 24 hr format(HH:MM):")
hour = int(time.split(":")[0])

if 0 <= hour < 12:
    print("Good Morning")
elif 12 <= hour < 17:
    print("Good Afternoon")
elif 17 <= hour < 21:
    print("Good Evening")
else:
    print("Good Night")

Good Morning

In [24]:
num = int(input("Enter a number:"))
for i in range(1, 10):
    print(f"{num}*{i}={num*i}")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

In [1]:
str = '''Hello
my name is
Amandeep Singh'''
print(str)

Hello
my name is
Amandeep Singh