In [1]:
print("Hello")

Hello

In [2]:
name = input("Enter your name")
age = int(input("Enter age"))
print(name)
print(age)
print(type(name))
print(type(age))

Amandeep
21
<class 'str'>
<class 'int'>

In [ ]:
a = input("Enter a string:")
b = int(input("Enter a integer value:"))
c = float(input("Enter a float value:"))
d = bool(input("Enter a boolean value:")) # This will always return True(Wrong method), Python does not directly convert input to boolean like int() or float()
print(a)
print(b)
print(c)
print(d)

abc
1
1.0
True

In [7]:
bool('False') == True # Always returns True

True

In [ ]:
# Use this method(if you want to take input as bool)
value = input("Enter True or False").lower()


if value == "true":
    flag = True
    print(flag)
    print(type(flag))
elif value == "false":
    flag = False
    print(flag)
    print(type(flag))
else:
    print("Invalid Input")

True
<class 'bool'>

In [12]:
side = int(input("Enter side of the square:"))
area = side * side
print(f"Area of square:{area}")

Area of square:25

In [ ]:
# Type Conversion(Type Casting)
# (i) Implicit Type Conversion (automatic)
# (ii) Explicit Type Conversion (manual)

a = 10      # int
b = 2.5     # float

c = a + b
print(c)
print(type(c))

12.5
<class 'float'>

In [ ]:
# Int conversion
x = int(10.8)
print(x)   # 10

10

In [ ]:
# Float conversion
y = float(10)
print(y)   # 10.0

10.0

In [17]:
num = 100
print(type(num))

<class 'int'>

In [ ]:
# String conversion
num = 100
s = str(num)
print(s)
print(type(s))

100
<class 'str'>

In [20]:
print(ord('A'))
print(ord('a'))

65
97

In [24]:
sub1 = int(input("Enter marks for subject 1(out of 100):"))
sub2 = int(input("Enter marks for subject 2(out of 100):"))
sub3 = int(input("Enter marks for subject 3(out of 100):"))
total_marks = sub1 + sub2 + sub3
print(f"Total marks of student(out of 300):{total_marks}")
average_marks = total_marks / 3
print(f"Average marks of student:{average_marks}")

Total marks of student(out of 300):252
Average marks of student:84.0

In [28]:
sub1 = int(input("Enter marks for subject 1(out of 100):"))
sub2 = int(input("Enter marks for subject 2(out of 100):"))
sub3 = int(input("Enter marks for subject 3(out of 100):"))
sub4 = int(input("Enter marks for subject 3(out of 100):"))
sub5 = int(input("Enter marks for subject 3(out of 100):"))
total_marks = sub1 + sub2 + sub3 + sub4 + sub5
print(f"Total marks of student(out of 500):{total_marks:.2f}")
average_marks = total_marks / 5
print(f"Average marks of student:{average_marks:.2f}")

Total marks of student(out of 500):369.00
Average marks of student:73.80

In [32]:
item_name = input("Enter item name:")
quantity = int(input("Enter quantity of the item:"))
price = int(input("Enter price for the item:"))

total_cost = quantity * price
gst = (0.18 * total_cost) + total_cost

print(f"Total cost of {item_name} is: {total_cost}")
print(f"Total cost of {item_name} including 18% of GST is: {gst:.2f}")

Total cost of Earphone is: 23255
Total cost of Earphone including 18% of GST is: 27440.90

In [ ]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))

print("Addition:", num1 + num2)
print("Multiplication:", num1 * num2)

if (num1 > num2):
    print("Subtraction:", num1 - num2)
    print("Division:", num1 / num2)
else:
    print("Subtraction:", num2 - num1)
    print("Division:", num2 / num1)

Addition: 25
Multiplication: 150
Subtraction: 5
Division: 1.5

In [ ]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
choice = int(input("Enter your choice:\n1-Addition\n2-Subtraction\n3-Division\n4-Multiplication"))
match choice:
    case 1:
        print("Addition for two number is:", num1 + num2)
    case 2:
        if(num1 >= num2):
            print("Subtration for two number is:", num1 - num2)
        else:
            print("Subtration for two number is:", num2 - num1)
    case 3:
        print("Division for two number is:", num1 / num2)
    case 4:
        print("Multiplication for two number is:", num1 * num2)
    case _:
        print("Invalid Choice")

Invalid Choice

In [39]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
num3 = int(input("Enter third number:"))

if (num1 >= num2 and num1 >= num3):
    print(f"{num1} is largest")
elif (num2 >= num3):
    print(f"{num2} is largest")
else:
    print(f"{num3} is largest")

10 is largest

In [40]:
principal = int(input("Enter Principal:"))
rate = float(input("Enter rate:"))
time = int(input("Enter time:"))
simple_interest = principal * rate * time / 100

print(f"Simple Interest:{simple_interest:.2f}")

Simple Interest:1080.00

In [2]:
original_pswrd = "aman"

while True:
    password = input("Enter password:")
    if (original_pswrd == password):
        print("Access Granted")
        break
    else:
        print("Try Again")

Try Again
Try Again
Access Granted

In [22]:
amount = int(input("Enter amount:"))

if (amount <= 0):
    print("Invalid Entry")
elif (amount >= 200 and amount % 100 == 0 and amount != 300):
    print("Discharging cash")
else:
    print("Try again")

Discharging cash

In [23]:
time = input("Enter time in 24 hr format(HH:MM):")
hour = int(time.split(":")[0])

if 0 <= hour < 12:
    print("Good Morning")
elif 12 <= hour < 17:
    print("Good Afternoon")
elif 17 <= hour < 21:
    print("Good Evening")
else:
    print("Good Night")

Good Morning

In [24]:
num = int(input("Enter a number:"))
for i in range(1, 10):
    print(f"{num}*{i}={num*i}")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

In [1]:
str = '''Hello
my name is
Amandeep Singh'''
print(str)

Hello
my name is
Amandeep Singh

In [11]:
s1 = "LOVELY"
print(s1[2])
print(s1[:5])
print(s1[::-1])

V
LOVEL
YLEVOL

In [29]:
n = int(input("Enter number of rows:"))
for i in range(0, n):
    for j in range(0, i + 1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [34]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [41]:
n = 5
for i in range(1, n + 1):
    for j in range(n, n - i, -1):
        print(j, end = " ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [50]:
n = 5
for i in range(n, 0, -1):
    for j in range(n, n - i, -1):
        print(j, end = " ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [27]:
n = 5
for i in range(0, n):
    for j in range(0, i + 1):
        print(" ", end = " ")
        
    for k in range(0, n - i):
        print("*", end = " ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
List = []
for i in range(1, 6):
    score = int(input(f"Enter score for Match{i}:"))
    List.append(score)
print(List)

[10, 56, 45, 88, 99]

In [ ]:
str = input("Enter a string:").lower()
str_rev = str[::-1]
if (str == str_rev):
    print("String is palindrome")
else:
    print("Not Palindrome")

String is palindrome

In [64]:
low = int(input("Enter low range:"))
high = int(input("Enter high range:"))

for i in range(low, high + 1):
    if i < 2:
        continue
    count = 1
    for j in range(2, i):
        if (i % j == 0):
            count = 2
            break
    if (count == 1):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [11]:
question_list = []
option_list = []
correct_answer = ['a', 'b']
n = 2
count = 0

for i in range(1, n + 1):
    question = input(f"Enter question{i}:")
    question_list.append(question)
    for j in range(0, 1):
        option_a = input(f"Enter option a for question {i}:")
        option_b = input(f"Enter option b for question {i}:")
        option_c = input(f"Enter option c for question {i}:")
        option_d = input(f"Enter option d for question {i}:")
        option_list.append([option_a, option_b, option_c, option_d])

        answer = input(f"Enter your option for question{i}:")
        if (answer == correct_answer[i - 1]):
            count += 1


print(question_list)
print(option_list)
print(count)

['what is your name', 'what is your age']
[['aman', 'amandeep', 'raj', 'ravi'], ['21', '22', '23', '24']]
2

In [40]:
question_list = ["What is your name?", "What is your age?"]
option_list = [['aman', 'amandeep', 'raj', 'ravi'], ['21', '22', '23', '24']]
correct_ans = [1, 2]
user_answer = []
score = 0

for i in range(len(question_list)):
    print(f"Question {i + 1}:")
    print(question_list[i])
    print(f"Choose the correct option(1, 2, 3, 4):")

   
    for k in range(4):
        print(f"{k + 1} - {option_list[i][k]}")

    answer = int(input("Enter your option(1, 2, 3, 4):"))
    if (answer == correct_ans[i]):
        user_answer.append(answer)
        score += 1

print(f"Total Score:{score}")

Question 1:
What is your name?
Choose the correct option(1, 2, 3, 4):
1 - aman
2 - amandeep
3 - raj
4 - ravi
Question 2:
What is your age?
Choose the correct option(1, 2, 3, 4):
1 - 21
2 - 22
3 - 23
4 - 24
Total Score:1

In [ ]:
# Creating a dictionary
student_grades = {
    "Name" : "Alice",
    "Age" : 28,
    "Grade" : "A",
    "Subject" : "CS"
}
student_grades

{'Name': 'Alice', 'Age': 28, 'Grade': 'A', 'Subject': 'CS'}

In [ ]:
# Another way for creating Dictionary
d1 = dict(
    apple = "red",
    mango = "yellow",
    kiwi = "brown"
)
print(d1)

{'apple': 'red', 'mango': 'yellow', 'kiwi': 'brown'}

In [9]:
# We can pass list as tuple for creating dictionary
d2 = dict([
    ("apple", "red"),
    ("mango", "yellow"),
    ("kiwi", "brown")
])
print(d2)

{'apple': 'red', 'mango': 'yellow', 'kiwi': 'brown'}

In [ ]:
student_grades = {
    "Name" : "Alice",
    "Age" : 28,
    "Grade" : "A",
    "Subject" : "CS"
}
print(student_grades)
print(student_grades["Name"]) # We can access value by passing key
print(student_grades["Age"])
print(student_grades["Grade"])

print(student_grades.get("Name")) # Another method for getting the value
print(student_grades.get("Namea")) # If key is not present than None will be printed
print(student_grades.get("Namea", "Not found")) # Custom message

{'Name': 'Alice', 'Age': 28, 'Grade': 'A', 'Subject': 'CS'}
Alice
28
A
Alice
None
Not found

In [ ]:
student_grades = {
    "Name" : "Alice",
    "Age" : 28,
    "Grade" : "A",
    "Subject" : "CS"
}
for key in student_grades.keys():
    print(student_grades[key])

for i in student_grades: # It only iterate through the keys
    print(student_grades[i])

Alice
28
A
CS
Alice
28
A
CS

In [23]:
students = {
    "Ram" : 88,
    "Shyam" : 87,
    "Ghyanshyam" : 86
}
key = input("Enter a key")
if key in students:
    print(students[key])
else:
    print("Not found")

88

In [ ]:
# Modifying a dictionary
students = {
    "Ram" : 88,
    "Shyam" : 87,
    "Ghyanshyam" : 86
}
students["Ram"] = 90
print(students.pop("Ghyanshyam"))
print(students.pop("Ghyanshyam", "None")) # None
del students["Ghyanshyam"] # Key Error

# We can print a custom message in pop() if a element is not present
# But in del we cannot do that

86
None

KeyError: 'Ghyanshyam'

In [39]:
# Checking whether a key is present in dictionary or not
# Use membership operator (in and not in) to check whether a key is present or not
student = {
    "Name" : "Alice",
    "Age" : 28,
    "Grade" : "A",
    "Subject" : "CS"
}
print(len(student))
print('name' in student)
print('name' not in student)
print(student.values())

4
False
True
dict_values(['Alice', 28, 'A', 'CS'])

In [53]:
data = {
    'id' : 101,
    'info' : {
        'name' : 'Alice',
        'age' : 20,
        'subject' : 'cs'
    }
}
print(data)
print(data["id"])
print(data["info"])
print(data["info"]["name"])
print(data["info"]["age"])
print(len(data))
print(len(data["info"]))

{'id': 101, 'info': {'name': 'Alice', 'age': 20, 'subject': 'cs'}}
101
{'name': 'Alice', 'age': 20, 'subject': 'cs'}
Alice
20
2
3

In [54]:
student = {
    "Name" : "Alice",
    "Age" : 28,
    "Grade" : "A",
    "Subject" : "CS"
}
keys = student.keys()
values = student.values()
items = student.items()

print(keys)
print(values)
print(items)

dict_keys(['Name', 'Age', 'Grade', 'Subject'])
dict_values(['Alice', 28, 'A', 'CS'])
dict_items([('Name', 'Alice'), ('Age', 28), ('Grade', 'A'), ('Subject', 'CS')])

In [68]:
data = {
    'a' : 1,
    'b' : 2,
    'c' : 3
}
print(data)
for i in data:
    print(i)
    if data[i] % 2 == 0:
        del data[i] # We cannot directly delete the elements from the dictionary
print(f"New Dictionary:{data}")
#We cannot delete elements directly from a dictionary because dictionaries are key-based hash maps, not index- or value-based collections. Deletion requires a key to locate the hashed entry uniquely.

{'a': 1, 'b': 2, 'c': 3}
a
b

RuntimeError: dictionary changed size during iteration

In [64]:
data = {
    'a' : 1,
    'b' : 2,
    'c' : 3
}
for i in tuple(data.keys()):
    if data[i] % 2 == 0:
        del data[i]
print(data)

{'a': 1, 'c': 3}

In [ ]:
a = {'a', 1}
b = {'b', 2}
print(a.union(b))
print(a|b) # Union operator is used to merge sets and dictionaries

{1, 2, 'b', 'a'}
{1, 2, 'b', 'a'}

In [76]:
a = {'a' : 1}
b = {'b' : 2, 'a' : 7}
print(a|b)
print(b|a)

{'a': 7, 'b': 2}
{'b': 2, 'a': 1}

In [79]:
student = {
    'name' : 'Rahul',
    'marks' : [80, 90, 95]
}
another_student = student.copy() # Shallow Copy
student['marks'].append(99)
another_student['marks'].append(100)
print(student)
print(another_student)
# Shallow copy works as reference

{'name': 'Rahul', 'marks': [80, 90, 95, 99, 100]}
{'name': 'Rahul', 'marks': [80, 90, 95, 99, 100]}

In [ ]:
import copy
student = {
    'name' : 'Rahul',
    'marks' : [80, 90, 95]
}
another_student = copy.deepcopy(student) # Deep Copy
student['marks'].append(99)
print(student)
print(another_student)
# Deep Copy works as a normal copy

{'name': 'Rahul', 'marks': [80, 90, 95, 99]}
{'name': 'Rahul', 'marks': [80, 90, 95]}

In [ ]:
#

In [ ]:
def printHello():
    print("Hello world")
printHello()

Hello world

In [83]:
def fun(first_name, last_name, country): # Parameters
    print("Hello world")
    print(f"My name is {first_name} {last_name}")
    print(f"I live in {country}")
    print("See you")
fun("Amandeep", "Singh", "India") # Arguments

Hello world
My name is Amandeep Singh
I live in India
See you

In [84]:
def add(num1, num2):
    return num1 + num2
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
print(f"Addtion of {num1} and {num2} is {add(num1, num2)}")

Addtion of 10 and 20 is 30

In [85]:
def add(num1, num2):
    return (num1 + num2) ** 2
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
print(f"{add(num1, num2)}")

900

In [86]:
def divide(num1, num2):
    if (num2 == 0):
        print("Zero division error")
    else:
        result = num1 / num2
        return result
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))
print(f"{divide(num1, num2)}")

1.0

In [87]:
def addElementList(list):
    sum = 0
    for i in range(len(list)):
        sum = sum + list[i]
    return sum

def sumOfEvenNumber(list):
    sum = 0
    for i in range(len(list)):
        if (list[i] % 2 == 0):
            sum = sum + list[i]
    return sum    

list = [10, 21, 30, 40, 50]
print(addElementList(list))
print(sumOfEvenNumber(list))

151
130

#### __doc__
* It returns the docstring of the function, class, module, method and even for the built in objects

In [88]:
print(len.__doc__)

Return the number of items in a container.

In [89]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [ ]:
def fun(first_name, last_name = "Singh", country = "Nepal"):
    '''This is my function''' 
    print("Hello world")
    print(f"My name is {first_name} {last_name}")
    print(f"I live in {country}")
    print("See you")
fun("Amandeep", country = "India") 
print(fun.__doc__)

Hello world
My name is Amandeep Singh
I live in India
See you
This is my function

#### __*args()__

In [93]:
def sum_of_nums(*nums):
    total = 0
    for i in nums:
        total += i
    return total
print(sum_of_nums(1, 2, 3, 4, 5))

15

In [95]:
def sum_of_nums(msg,*nums):
    print(msg)
    total = 0
    for i in nums:
        total += i
    return total
print(sum_of_nums(("I am calculating sum: "),1, 2, 3, 4, 5))

I am calculating sum:
15

#### __*kwargs__

In [100]:
def build_profile(name, city, country, hobbies, profession):
    print("Name", name)
    print("City", city)
    print("Country", country)
    print("Hobbies", hobbies)
    print("Profession", profession)
build_profile(name = "Amandeep", city = "Haridwar", country = "India", hobbies = "Cricket", profession = "Student")

Name Amandeep
City Haridwar
Country India
Hobbies Cricket
Profession Student

In [106]:
def build_profile(**things): # Key value pair
    print("Profiles")
    print(things)
    for i, j in things.items():
        print(i, j)
build_profile(name = "Amandeep", city = "Haridwar", country = "India", hobbies = "Cricket", profession = "Student")

Profiles
{'name': 'Amandeep', 'city': 'Haridwar', 'country': 'India', 'hobbies': 'Cricket', 'profession': 'Student'}
name Amandeep
city Haridwar
country India
hobbies Cricket
profession Student